body {
  font-family: Arial, sans-serif;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
select,
button {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="file"] {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: auto;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
.file-upload {
  display: block;
  position: relative;
}
.file-upload i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.error-message {
  color: red;
  margin-left: 10px; /* Adjust spacing as needed */
}
